.front-notice {
    padding: 10px 20px;
    color: #409EFF;
    font-size: 14px;
    background: #ecf5ff;
    transition: all 0.3s;
    display: flex;
    align-items: center;
}
.front-header {
    display: flex;
    height: 64px;
    line-height: 64px;
    border-bottom: 1px solid #f0f2f5;
    background: white;
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
    position: sticky;
    top: 0;
    z-index: 999;
}
.front-header-left {
    width: 350px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.front-header-left img, .front-header-dropdown img {
    width: 40px;
    height: 40px;
    border-radius: 50%
}
.front-header-left .title {
    flex: 1;
    color: #1890ff;
    cursor: pointer;
    margin-left: 15px;
    font-size: 22px;
    font-weight: bold;
    transition: color 0.3s;
}

.front-header-left .title:hover {
    color: #40a9ff;
}
.front-header-center {
    flex: 1;
}
.front-header-right {
    width: 200px;
    padding-right: 20px;
    text-align: right;
}
.front-header-right .el-button {
    background-color: #fff;
    border-color: #dcdfe6;
    color: #606266;
    transition: all 0.3s;
}

.front-header-right .el-button:hover {
    color: #409EFF;
    border-color: #c6e2ff;
    background-color: #ecf5ff;
}
.front-header-dropdown {
    display: flex;
    align-items: center;
    justify-content: right;
    cursor: pointer;
    padding: 0 12px;
    transition: background 0.3s;
}

.front-header-dropdown:hover {
    background: rgba(0,0,0,.025);
}
.el-dropdown-menu {
    width: 100px !important;
    text-align: center !important;
}

/*页面具体样式自定义*/
.main-content {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    min-height: calc(100vh - 165px);
}
/* ElementUI 样式覆盖 */
.el-menu.el-menu--horizontal {
    border: none !important;
    height: 64px;
    background: transparent;
}

.el-menu--horizontal > .el-menu-item {
    font-size: 15px;
    padding: 0 20px;
    transition: all 0.3s;
}

.el-menu--horizontal > .el-menu-item:hover {
    background-color: rgba(0,0,0,.025) !important;
}

.el-menu--horizontal > .el-menu-item.is-active {
    font-weight: bold;
    border-bottom: 2px solid #1890ff !important;
}