<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ArticleInfoMapper">

    <insert id="insert" parameterType="com.example.entity.ArticleInfo">
        insert into article_info (srcdatabase, title, author, organ, source, keyword, summary, pubtime, firstduty, fund, year, pagecount, clc, url, doi)
        values (#{srcDatabase}, #{title}, #{author}, #{organ}, #{source}, #{keyword}, #{summary}, #{pubTime}, #{firstDuty}, #{fund}, #{year}, #{pageCount}, #{clc}, #{url}, #{doi})
    </insert>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from article_info where id = #{id}
    </delete>

    <delete id="deleteSummaryByTitle" parameterType="java.lang.String">
        delete from article_summary where title = #{title}
    </delete>

    <update id="updateById" parameterType="com.example.entity.ArticleInfo">
        update article_info
        <set>
            <if test="srcDatabase != null">srcdatabase = #{srcDatabase},</if>
            <if test="title != null">title = #{title},</if>
            <if test="author != null">author = #{author},</if>
            <if test="organ != null">organ = #{organ},</if>
            <if test="source != null">source = #{source},</if>
            <if test="keyword != null">keyword = #{keyword},</if>
            <if test="summary != null">summary = #{summary},</if>
            <if test="pubTime != null">pubtime = #{pubTime},</if>
            <if test="firstDuty != null">firstduty = #{firstDuty},</if>
            <if test="fund != null">fund = #{fund},</if>
            <if test="year != null">year = #{year},</if>
            <if test="pageCount != null">pagecount = #{pageCount},</if>
            <if test="clc != null">clc = #{clc},</if>
            <if test="url != null">url = #{url},</if>
            <if test="doi != null">doi = #{doi},</if>
        </set>
        where id = #{id}
    </update>

    <select id="selectById" resultType="com.example.entity.ArticleInfo">
        select * from article_info where id = #{id}
    </select>

    <select id="selectAll" resultType="com.example.entity.ArticleInfo">
        select * from article_info
        <where>
            <if test="title != null and title != ''">and title like concat('%', #{title}, '%')</if>
            <!-- 可以根据需要添加其他查询条件 -->
            <if test="userid != null and userid != ''">
                AND userid = #{userid}
            </if>
        </where>
    </select>

</mapper>