<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ArticleMapper">

    <sql id="Base_Column_List">
        id,srcdatabase as srcDatabase,title,author,organ,source,keyword,summary,
        pubtime as pubTime,firstduty as firstDuty,fund,year,pagecount as pageCount,
        clc,url,doi
    </sql>

    <select id="selectArticleList" resultType="com.example.entity.ArticleInfo">
        select
        <include refid="Base_Column_List" />
        from article_info
        <where>
            <if test="id != null"> and id = #{id}</if>
            <if test="srcDatabase != null and srcDatabase != ''"> and srcdatabase like concat('%', #{srcDatabase}, '%')</if>
            <if test="title != null and title != ''"> and title like concat('%', #{title}, '%')</if>
            <if test="author != null and author != ''"> and author like concat('%', #{author}, '%')</if>
            <if test="organ != null and organ != ''"> and organ like concat('%', #{organ}, '%')</if>
            <if test="source != null and source != ''"> and source like concat('%', #{source}, '%')</if>
            <if test="keyword != null and keyword != ''"> and keyword like concat('%', #{keyword}, '%')</if>
            <if test="summary != null and summary != ''"> and summary like concat('%', #{summary}, '%')</if>
            <if test="pubTime != null and pubTime != ''"> and pubtime = #{pubTime}</if>
            <if test="firstDuty != null and firstDuty != ''"> and firstduty like concat('%', #{firstDuty}, '%')</if>
            <if test="fund != null and fund != ''"> and fund like concat('%', #{fund}, '%')</if>
            <if test="year != null and year != ''"> and year = #{year}</if>
            <if test="pageCount != null and pageCount != ''"> and pagecount = #{pageCount}</if>
            <if test="clc != null and clc != ''"> and clc like concat('%', #{clc}, '%')</if>
            <if test="url != null and url != ''"> and url like concat('%', #{url}, '%')</if>
            <if test="doi != null and doi != ''"> and doi like concat('%', #{doi}, '%')</if>
        </where>
        order by id desc
    </select>

</mapper>